.wrapper {
  max-width: 46rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}

/* ---------------------------------- */

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6.75rem 0;
}

/* ---------------------------------- */

.new_task_form {
  width: 46rem;
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 0 auto;
}

.new_task_form input {
  width: 37.375rem;
  height: 3.375rem;

  color: var(--gray-200);
  background: var(--gray-400);
  border: 1px solid transparent;
}

.new_task_form input:hover {
  border: 1px solid var(--blue-500);
}

.new_task_form button {
  width: 6.125rem;
  height: 3.375rem;

  background: var(--blue-500);
  color: var(--white);
  border: 1px solid transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*
disabled 
background: var(--black);
color: var(--gray-200);
*/

.new_task_form button:hover {
  box-shadow: 0 0 0 1px transparent;
  background: var(--blue-600);
}

.new_task_form button:focus {
  box-shadow: 0 0 0 1px var(--blue-600);
}

.new_task_form button svg {
  margin-left: 8px;
}

/* ---------------------------------- */

.tasks_counter {
  width: 46rem;
  padding: 1.25rem 1rem;
  margin: 48px auto;

  border-top: 3px solid var(--gray-400);
  border-bottom: 3px solid var(--gray-400);

  display: flex;
  justify-content: space-between;
}

.tasks_counter strong {
  font-size: 0.875rem;
}

.tasks_counter strong span {
  padding: 8px 12px;
  border-radius: 999px;
  margin-left: 8px;
}

.all_tasks {
  color: var(--red-500);
}

.all_tasks span {
  background: var(--red-500);
}

.done_tasks {
  color: var(--green-500);
}

.done_tasks span {
  background: var(--green-500);
}

.count {
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--white);
}

/* ---------------------------------- */

.empty_tasks {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--gray-300);
}

.empty_tasks img {
  margin-top: -32px;
}

.empty_tasks div p:first-child {
  font-weight: bold;
}

/* ---------------------------------- */

.tasks_list {
  display: flex;
  flex-direction: column;
  width: 45rem;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--gray-350);
  padding: 24px;
  border-radius: 8px;
}

.task div {
  display: flex;
  align-items: center;
}

.task div p {
  margin: 0 .75rem;
  color: var(--white);
}

.risked {
  text-decoration: line-through;
  color: var(--gray-200);
}

.delete_btn {
  color: var(--gray-200);
}

.delete_btn:hover {
  color: var(--red-500);
  cursor: pointer;
}

.check_btn {
  color: var(--gray-200);
}

.check_btn:hover {
  color: var(--green-500);
  cursor: pointer;
}

.checked_btn {
  color: var(--green-500);
}

.checked_btn:hover {
  color: var(--red-500);
  cursor: pointer;
}