.wrapper {
  max-width: 46rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}

/* ---------------------------------- */

.tasks_list {
  display: flex;
  flex-direction: column;
  width: 45rem;
}
